/*==========  Pour les Écrans Large  ==========*/

.rm {
    margin: 0 !important;
}

.rp {
    padding: 0 !important;
}

.mt-40 {
    margin-top: 40px;
}

    /*==========  PROJECTEUR  ==========*/

.carousel-inner img {
    width: 100%;
    height: 100vh !important;
    object-fit: cover;
}  

    /*==========  NAVIGATION  ==========*/
nav {
    position: absolute !important;
    top: 0;
    left: 0;
    padding: 20px 0;
    background-color: rgba(34, 35, 75, 0.15);
    border: 1px solid rgba(38, 30, 75, 0.2);
}

nav ul {
    margin: 0;
    text-align: center;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: blue;
    text-decoration: none;
}

    /*==========  NOS VIDÉOS  ==========*/
#Nos-Videos {
    background: url(../img/rouen-fond2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 40px 0;
}

    /*==========  NOS PHOTOS  ==========*/
#Nos-Photos {
    padding: 40px 0;
}

#Nos-Photos article h3 {
    margin-top: 10px;
}

    /*==========  NOS VIDÉOS SUITE  ==========*/
#Videos-suite {
    background: url(../img/rouen-fond2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 40px 0;
}

    /*==========  PIED DE PAGE  ==========*/
footer {
    padding: 10px 0;
    background: white;
}

footer > p {
    color: black;
    margin: 0;
    text-align: center;
}

/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        
    }
        
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        
    }
        
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        
    }
        
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        nav ul li {
            display: list-item !important;
        }
        nav ul li a {
            font-size: 20px;
        }
    }
        
    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }


