.page {
    width: 1000px;;
    height: 750px;
    background: black;
    float: left;
}

.culumn{
    background-color: Red;
    overflow: left;
    width: 500px;
    height: 750px;
    float: left;
}

.carre1 {
    background-color: blue;
    width: 250px;
    height: 250px;
    float: left;
}

.carre2 {
    background-color: green;
    width: 250px;
    height: 250px;
    float: left;
}

.carre3 {
    background-color: yellow;
    width: 250px;
    height: 250px;
    float: left;
}

.carre4 {
    background-color: purple;
    width: 250px;
    height: 250px;
    float: left;
}

.carre5 {
    background-color: cyan;
    width: 250px;
    height: 250px;
    float: left;
}

.carre6 {
    background-color: orange;
    width: 250px;
    height: 250px;
    float: left;
}